html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

::selection {
  background-color: #000;
  color: #fff;
}

:root {
  --bg: #1f2022;
  --main: #eee;
  --second: #00d2b5;
  --light-text: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1352px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn-reset {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.nav__link--active {
  color: var(--second);
}