html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: var(--first-family);
}

@font-face {
  font-family: 'Josefin Sans';
  src: url("../fonts/JosefinSans-Bold.woff2") format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraBold.woff2") format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.woff2") format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Poppins-Medium.woff2") format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

.page__body {
  background-color: var(--bg);
  margin: 0;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

::selection {
  background-color: #000;
  color: #fff;
}

:root {
  --bg: #000000;
  --main: #eee;
  --second: #00d2b5;
  --light-text: #fff;
  --first-family: "Josefin Sans", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Poppins", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.header {
  padding: 25px 0;
}

.container {
  max-width: 1382px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn-reset {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

/* ----------- */
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HERO */
.hero {
  background-image: url(../img/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top bottom;
  /* height: 100%;
  min-height: calc(100vh - 100px); */
}

.hero__container {
  height: 100%;
  min-height: calc(100vh - 100px);
}

.hero__left,
.hero__content {
  grid-column: 6 span;
  padding-bottom: 40px;
}

.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero__level {
  position: relative;
  max-width: 380px;
  margin-top: 30vh;
  /* margin-top: 430px; */
  padding-left: 30px;
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 167%;
  color: var(--main);
}

.hero__level::before {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  width: 20px;
  height: 3px;
  background-color: var(--second);
}

.hero__text {
  max-width: 200px;
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.04em;
  color: var(--second);
  /* margin-top: 630px; */
}

.hero__content {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 42px;
}

.hero__hello {
  margin-bottom: 30px;
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: var(--main);
}

.hero__hello span {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 100px;
  letter-spacing: 0.06em;
  color: var(--second);
}

.hero__desc {
  max-width: 550px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: auto;
}

/* SLIDER */
.latest-shots__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hero__shots {
  margin-top: 30px;
}

.latest-shots__title {
  margin-right: 20px;
  font-weight: 700;
  font-size: 24px;
  color: var(--main)
}

.latest-shots__all {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: var(--second);
}

.latest-shots__content {
  display: flex;
  gap: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  /* width: calc(100% + 80px); */
}

.latest-shots__image {
  border-radius: 5px;
}

.latest-shots__link {
  flex-shrink: 0;
}

.latest-shots__nav {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 28px;
}

.slider-arrow {
  color: var(--main);
}

.latest-shot__btn {
  width: 28px;
  height: 28px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__link:focus {
  outline: none;
}

.nav__link:focus-visible {
  outline: 2px dashed var(--second);
  outline-offset: 3px;
}

.nav__link {
  font-weight: 700;
  font-size: 18px;
  color: var(--main);
  transition: color .3s ease-in-out;
}

@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--second);
  }
}

.nav__link--active {
  color: var(--second);
}

.btn {
  background-color: var(--main);
  border-radius: 3px;
  color: #000;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  padding: 16px;
  margin-right: 20px;
}