html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

.page__body {
  background-color: var(--bg);
  margin: 0;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

::selection {
  background-color: #000;
  color: #fff;
}

:root {
  --bg: #1f2022;
  --main: #eee;
  --second: #00d2b5;
  --light-text: #fff;
  --first-family: "Josefin Sans", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Poppins", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

.header {
  padding: 25px 0;
}

.container {
  max-width: 1382px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn-reset {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

/* ----------- */
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__link:focus {
  outline: none;
}

.nav__link:focus-visible {
  outline: 2px dashed var(--second);
  outline-offset: 3px;
}

.nav__link {
  font-family: var(--first-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--main);
  transition: color .3s ease-in-out;
}

@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--second);
  }
}

.nav__link--active {
  color: var(--second);
}

.btn {
  background-color: var(--main);
  border-radius: 3px;
  color: #000;
  font-family: var(--first-family);
  font-weight: 700;
  font-size: 18px;
  padding: 16px;
}